:host {
  display: block;

  section {
    display: grid;
    grid-template-columns: 2fr 7fr;
    font-family: sans-serif;
  }

  #a-affecter {
    width: 20vw;
    overflow: hidden;
    min-height: 100%;
    display: inline-block;
    border: 1px solid black;

    h1 {
      margin: 0;
      padding: 0;
      text-align: center;
      border-bottom: 1px solid black;
    }

    #bac-container {
      height: 100%;
      width: 100%;

      .bac-inter {
        transition: 0.25s;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: aquamarine;
        margin: 5px;
        padding: 10px 0;
        border-radius: 4px;

        &:hover {
          opacity: 0.5;
          transition: 0.25s;
          cursor: move;
        }
      }
    }
  }

  .grid__main {
    border-radius: 4px;
    display: grid;
    grid-template-columns: 2fr 17fr;
    grid-template-rows: 1fr 10fr;
    border: 1px solid #000;

    .grid__timeline {
      display: grid;
      border-bottom: 1px solid grey;
      grid-area: 1 / 2 / 1 / 2;
      grid-template-columns: repeat(17, minmax(0, 1fr));
      grid-template-rows: 1fr;

      div {
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }

    .grid__techos {
      display: grid;
      grid-area: 2 / 1 / 2 / 1;
      grid-template-columns: 1fr;

      div {
        border-bottom: 1px solid grey;
        padding-left: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .grid__schedule {
      grid-area: 2 / 2 / 11 / 2;
      display: grid;

      .row {
        display: grid;
        grid-template-columns: inherit;
        border-bottom: 1px solid grey;
        border-left: 1px solid grey;
        padding: 5px 0;

        &:last-child {
          border-bottom: none;
        }

        .intervention {
          grid-area: 1 / 5 / 1 / 5;
        }
      }
    }
  }
}

.cdk-drag-preview {
  font-family: sans-serif;
  display: flex;
  background-color: aquamarine;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.cdk-drag-placeholder {
  display: none;
}
