<section cdkDropListGroup>
	<div id="a-affecter">
		<h1>A affecter</h1>
		<div id="bac-container"
		     cdkDropList
		     [cdkDropListData]="bac_a_sable"
		     (cdkDropListDropped)="onDrop($event, 'bac_a_sable')">
			<div cdkDrag
			     class="bac-inter"
			     *ngFor="let inter of bac_a_sable">
				{{inter.timeStart}}h00 - {{inter.timeEnd}}h00
			</div>
		</div>
	</div>
	<div class="grid__main">
		<div class="grid__timeline">
			<div *ngFor="let hour of hours">
				{{ hour }}
			</div>
		</div>

		<div class="grid__techos"
		[ngStyle]="getGridTechosStyle()">
			<div *ngFor="let technicien of techniciens"
					 id="{{ technicien.id }}">
				{{ technicien.name }}
			</div>
		</div>

		<div class="grid__schedule"
		[ngStyle]="getScheduleStyle()">
			<div *ngFor="let technicien of techniciens; let i = index"
			     cdkDropList
			     [cdkDropListData]="technicien.interventions"
			     (cdkDropListDropped)="onDrop($event, technicien.name)"
			     class="row"
			     [ngStyle]="getRowStyle(i+1)">
				<tl-intervention
						cdkDrag
						class="intervention"
					*ngFor="let inter of technicien.interventions"
					[ngStyle]="{ 'grid-area': getHoraire(inter, technicien.interventions) }"
					[inter]="inter"
					[technicien]="technicien">
				</tl-intervention>
<!--				<div class="intervention"-->
<!--				     *ngFor="let inter of technicien.interventions"-->
<!--				     [ngStyle]="{ 'grid-area': getHoraire(inter, technicien.interventions) }"-->
<!--				     cdkDrag>-->
<!--					{{technicien.name}} : {{inter.timeStart}}h00 - {{inter.timeEnd}}h00-->
<!--				</div>-->
			</div>
		</div>
	</div>
</section>
