:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: aquamarine;
  margin: 5px 0;
  padding: 10px 0;
  border-radius: 4px;

  &:hover {
    opacity: 0.5;
    cursor: move;
  }
}
